{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header" align="center">
      <h1 align="center">Advanced time tracking configuration</h1>

      <p class="subtitle" align="center">This configuration page is provided by the add-on for the add-on</p>
    </div>
  </div>
</header>

<div align="center">
<a style="align-self: center; margin-bottom: 10px" href="#first-dropdown" aria-owns="first-dropdown" aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger">Configure me</a>

<div id="first-dropdown" class="aui-style-default aui-dropdown2" style="margin-bottom: 150px">
    <ul class="aui-list-truncate">
        <li><a href="#">Awesome feature</a></li>
        <li><a href="#">Better feature</a></li>
    </ul>
</div>

<a href="#second-dropdown" aria-owns="second-dropdown" aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger" style="margin-bottom: 150px">I want this</a>

<div id="second-dropdown" class="aui-style-default aui-dropdown2" style="margin-bottom: 150px">
    <ul class="aui-list-truncate">
        <li><a href="#">I want this</a></li>
        <li><a href="#">I want that</a></li>
    </ul>
</div>
</div>